@import "shared";

.h1,
h1 {
  font-size : get-mvw(91px);
  font-weight: bold;
  text-align: center;
  font-family: "StTransmission-600", Arial, Helvetica, sans-serif;
  color     : $main-color;
  @media #{$md} {
    font-size: get-tvw(42px);
  }

  @media #{$xl} {
    font-size: get-vw(51px);
  }

  @media (min-width: 1921px) {
    font-size: 51px;
  }
}

.h2,
h2 {
  font-weight: bold;
  font-family: "StTransmission-600", Arial, Helvetica, sans-serif;
  font-size: get-mvw(64px);
  color    : $main-color;
  margin   : get-mvw(35px) 0;
  @media #{$md} {
    font-size: get-tvw(24px);
    margin   : get-tvw(15px) 0;
  }

  @media #{$xl} {
    font-size: get-vw(40px);
    margin   : get-vw(30px) 0;
  }

  @media (min-width: 1921px) {
    font-size: 40px;
    margin   : 30px 0;
  }
  &.active {
    color: $main-color;
  }
}

.h3,
h3 {
  font-size  : get-mvw(54px);
  font-family: "StTransmission-600", Arial, Helvetica, sans-serif;

  font-weight: bold;

  @media #{$md} {
    font-size: get-tvw(28px);
  }

  @media #{$xl} {
    font-size: get-vw(40px);
  }

  @media (min-width: 1921px) {
    font-size: 40px;
  }
}

.h4,a,
h4 {
  font-family: "StTransmission-600", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 3vw;

  @media #{$sm} {
    font-size: 18px;
  }
  @media #{$xl} {
    font-size: 1vw;
  }

  @media (min-width:1921px) {
    font-size: 29px;
  }

}

.h5,
h5 {
  font-size  : get-mvw(41px);
  font-weight: bold;
  font-family: "StTransmission-600", Arial, Helvetica, sans-serif;

  @media #{$md} {
    font-size: get-tvw(16px);
  }

  @media #{$xl} {
    font-size: get-vw(22px);
  }

  @media (min-width:1921px) {
    font-size: 22px;
  }
}

.h6,
h6 {
  font-size  : get-mvw(54px);
  font-weight: bold;
  font-family: "StTransmission-600", Arial, Helvetica, sans-serif;

  @media #{$md} {
    font-size: get-tvw(22px);
  }

  @media #{$xl} {
    font-size: get-vw(29px);
  }

  @media (min-width:1921px) {
    font-size: 29px;
  }
}

p, h7 {
  font-size: get-mvw(41px);
  font-family: "StTransmission-600", Arial, Helvetica, sans-serif;
  color: $main-color;
  @media #{$md} {
    font-size: get-tvw(16px);
  }

  @media #{$xl} {
    font-size: get-vw(16px);
  }

  @media (min-width:1921px) {
    font-size: 16px;
  }
}

b,
strong {
  font-weight: bold !important;
}

.text-normal {
  font-weight: normal;
}
button {
  background: $main-color;
  padding: 22px 32px;
  color: $background;
  font-family: "StTransmission-600", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  letter-spacing: 1px;

  a {
    text-decoration: none;
    color: $background;
  }
}
